<div class="modal-header">
  <h4 class="modal-title pull-left">{{book.title}} {{book.status.name}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="jumbotron">
    <form #patronForm="ngForm">
      <div class="form-group">
        <label for="UserToFind">User #</label>
        <input type="number" class="form-control" [disabled]="this.book.status.name == 'Checked Out'" (ngModelChange)="clearMessage();"  placeholder="Search By Patron #" required name="value"
          [(ngModel)]="this.value">
        <div class="invalid-feedback">Please enter user id</div>
      </div>
      <button type="button" class="btn btn-secondary" [disabled]="!patronForm.valid" (click)="getPatron()"><i class="fa fa-search mr-2"></i>Find
        User</button>
    </form>
    <label for="UserFound" class="mt-4" style="font-style: oblique;">{{this.message}}
    </label>

  </div>

</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="form-group">
      <button *ngIf="this.bookStatus" class="btn btn-primary btn-lg btn-block mr-1" (click)="checkInItem(book.id);">Check In</button>
      <button *ngIf="!this.bookStatus" [disabled]="!patronForm.valid" class="btn btn-primary btn-lg btn-block mr-1" (click)="checkOutItem(this.model.id,book.id);">Check
        Out</button>
    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <tr>
      <th>Date Loaned</th>
      <th>Date Returned</th>
      <th>Patron #</th>
    </tr>
    <tr *ngFor="let history of checkoutBookHistory?.checkoutHistories">
      <td>{{history.checkedOut | date:'mediumDate'}} </td>
      <td>{{history.checkedIn | date:'mediumDate'}}</td>
      <td>{{history.user.userName}}</td>
      
    </tr>
  </table>
</div>